{block content}


<header class="subheader">
    <h1 n:block="title">{$new->title}</h1>
    <div class="subheading">{$new->created|date:'d. m. Y'}</div>
</header>

<section class="new-page" id="new-page">
    <div class="container">
        <div class="content">
        {$new->content|noescape}
        </div>
        <a n:href="New:" class="btn btn-primary btn-sm">Archiv novinek</a>
    </div>
</section>