{block content}

<header class="subheader">
    <h1 n:block=title>404 Stránka nenalezena</h1>
</header>

<section>
    <div class="container">
        <p>Hledanou stránku se nepodařilo nalézt. Je možné, že zadaná adresa je neplatná a nebo hledaná stránka neexistuje.</p>

        <a n:href="Homepage:default" class="btn btn-primary">Vrátit se zpět na úvodní stránku</a>
    </div>
</section>