{block content}
<h1 n:block=title>404 Stránka nenalezena</h1>

<p>The page you requested could not be found. It is possible that the address is
incorrect, or that the page no longer exists. Please use a search engine to find
what you are looking for.</p>

<a n:href="Homepage:default" class="btn btn-primary">Vrátit se zpět na úvodní stránku</a>